.auth-body {
	background: $polar1;
}
.auth-container {
	width: 25%;
	margin: 0 auto;
	outline: dashed 1px $snow2;
	// background: $polar3;
}
.auth-form-header {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	color: $snow0;
}
