html {
	// font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Helvetica, sans-serif;
}
body {
	background: $snow2;
}
legend {
	padding: 0;
	display: table;
}

fieldset {
	border: 0;
	padding: 0.01em 0 0 0;
	margin: 0;
	min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

textarea {
	resize: none;
	width: 100%;
	padding: 5px;

	border: 1px solid $snow1;
	box-sizing: border-box;
	border-radius: 2px;

	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: $polar3;

	&::placeholder {
		color: $snow1;
	}

	&:focus {
		outline: none;
		border: 1px solid $snow0;

		&::placeholder {
			color: $snow0;
		}
	}
}

button {
	border-width: 0px;
	border-color: unset;
	border-style: none;
}

input {
	font-size: 16px;
	outline: none;
	&::placeholder {
		color: $snow1;
	}
}
