.drop-select {
	appearance: none;
	font-family: Helvetica, sans-serif;
	font-size: 16px;

	width: 5rem;
	height: 1.5rem;
	padding: 2px 7px;
	border: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: $snow0;
}
