.page-nav {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    transform: translateX(4rem); /** assuming width ng side bar */
    transition: transform 0.25s linear;
}
.page-nav.is-active{
    /* display: flex; */
    transform: translateX(0);
  }
.nav-item {
    flex: none;
    flex-grow: 0;
    margin: 10px 0px;
}
.nav-top-flex  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: 1;
    order: 0;
    flex-grow: 10;
}
.nav-bottom-flex  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: none;
    order: 1;
    flex-grow: 0;  
}