// Polar Night
$polar0: #2e3440;
$polar1: #3b4252;
$polar2: #434c5e;
$polar3: #4c566a;

// Snow Storm
$snow0: #d8dee9;
$snow1: #e5e9f0;
$snow2: #eceff4;

// Frost
$frost0: #8fbcbb;
$frost1: #88c0d0;
$frost2: #81a1c1;
$frost3: #5e81ac;

// Aurora
$aurora0: #bf616a;
$aurora1: #d08770;
$aurora2: #ebcb8b;
$aurora3: #a3be8c;
$aurora4: #b48ead;
