.page {
	width: 60%;
	margin: 5rem auto;

	position: static;

	display: flex;

	outline: dashed 1px black;

	&.row {
		flex-direction: row;
		align-items: flex-start;
	}

	&.column {
		flex-direction: column;
	}
}
