.page {
	width: 60%;
	min-width: 32rem;
	margin: 5rem auto;
	position: static;

	display: flex;
	align-items: flex-start;
	flex-direction: column;

	&--row {
		flex-direction: row;
		align-items: flex-start;
	}
}
