.question-panel {
	width: 60%;
	padding: 5px 10px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background: white;
	border-radius: 5px;

	.option_button--add {
		width: 100%;
		padding: 5px;
		margin-top: 10px;

		color: white;
		background: $frost3;
		border-radius: 2px;
	}
}

.question-settings {
	width: 40%;
	padding: 5px 10px;
	margin-left: 5px;

	background: white;
	border-radius: 5px;

	.question_button--save {
		width: 100%;
		padding: 5px;

		color: white;
		background: $frost0;
		border-radius: 2px;
	}

	.tag_container {
		display: flex;
		flex-direction: row;
		margin-top: 5px;
	}
	.tag_input {
		width: 100%;
		color: $polar3;
		border: 1px solid $snow0;
		border-radius: 2px;
		box-sizing: border-box;
	}
	.tag_button--add {
		height: 24px;
		width: 24px;

		background: $polar3;
		margin-left: 5px;
		border-radius: 2px;

		display: flex;
		align-items: center;

		.icon {
			width: 14px;
			color: $snow0;
		}
	}
}
