.warn {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: $polar3;
}
.modal {
	$self: &;
	display: block;
	position: fixed;
	height: 25rem;
	width: 50%;
	min-width: 42rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 0.5rem;

	background: white;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.486);

	&__title {
		flex: 1;
		align-self: center;
		margin-left: 1rem;
		font-size: 2rem;
		color: $polar3;
	}
	&__close {
		align-self: flex-start;
		color: $polar3;
		width: 2rem;
	}
	&__body {
		height: 80%;
		overflow-y: auto;
		margin: 0 1rem;
	}
	&__input {
		color: $polar3;
		border: 1px solid $snow1;
		margin-bottom: 1rem;
	}
	// &__textarea {
	// }
	&__backdrop {
		display: none;
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgb(46, 52, 64, 0.5);

		&--active {
			display: block;
		}
	}
	&--width-xs {
		width: 25%;
	}
	&--width-s {
		width: 35%;
	}
}
.sub-article {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}
.article {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 10px 0;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	&--align-center {
		align-items: center;
	}
	&--justify-end {
		justify-content: flex-end;
	}
	&--x-margin {
		margin: 0 0.5rem;
	}
	&--y-margin {
		margin: 0.5rem 0;
	}
	&--column {
		height: 100%;
		flex-direction: column;
	}
	&--wrap {
		flex-wrap: wrap;
	}
}
.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: white;

	&--s-padding {
		padding: 10px;
	}
	&--m-padding {
		padding: 15px;
	}
	&--l-padding {
		padding: 20px;
	}
	&--xl-padding {
		padding: 25px;
	}
}
.accordion {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-height: 0;
	width: 100%;
	transition: max-height 0.5s ease;

	&--active {
		max-height: 80rem;
	}
}
.tab {
	flex: 0 0 10px;
	align-items: stretch;
	align-self: center;
	background: $snow0;
}
.spacer {
	flex: 1;
}
